html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.home{
    background-color: #CA82CA;
    color: #304C89;
}
.home ul li{
    list-style-type: none;
    list-style: none;
}
.home ul{
    margin: 0;
    padding: 0;
}
a:link{
    color: blanchedalmond;
    font-weight: bolder;
    text-decoration: none;
}
a:visited{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 100;
    
}
.oyiza{
    width: 100%;
    height: 30px;
    background:url(/images/Oyiza.png) no-repeat;
    background-size: 100% 100%;
}
.heading{
    margin: 0;
    text-align: center;
    font-family: tahoma;
    font-size: smaller;
}